/* Margin */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Valor por defecto */
    box-sizing: content-box;
}

div{
    background-color: #0090c0;
    width: 100%;
    height: 200px;
    padding: 20px;
}
