/* Selectores para atributos */

/* Selectores por atributo exacto */

input[type="number"]{
    background-color: red;
}

a[href="www.prometeo.es"]{
    color:green;
}


/* Selector que comienza por una palabra o prefijo */

a[href^="http"]{
    color:red;
}

/* Selectores que terminan en una palabra o sufijo */

a[href$=".pdf"]{
    color:yellow;
}