//botamano

div{
    width: 500px;
    height: 400px;
    max-width: 500px;
    min-width: 500px;

    /* Restamos 100px al 100% de la pantalla */
    height: calc(100vh - 100px); 
    background-color: red;
}