*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f2f2f2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contenedor{
    width: 500px;
    height: 500px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    overflow: auto;
}

.contenedor h1{
    font-size: 38px;
    font-weight: 600;
    color: #000;
}

.contenedor hr{
    background-color: #00a2ff;
    width: 20%;
    height: 5px;
    border: none;
    margin: 20px 0;
    border-radius: 50px;
}

p{
    margin-bottom: 20px;
    line-height: 28px;
    font-size: 16px;
    color: #414141;
}

/* Personalizar el scroll bar */
body::-webkit-scrollbar{
    width: 10px;
    border: rgba(128, 128, 128, 0.5);

}

body::-webkit-scrollbar-thumb{
    background:#414141;
}

.contenedor::-webkit-scrollbar{
    width: 7px;
}

.contenedor::-webkit-scrollbar-thumb{
    background: #00a2ff;
    border-radius: 5px;
}


