/* botamano 2 */

div{
   background-color: #a3a3a3;
   width: 200px;
   height: 200px;
   /* Bloque en linea */
   display: inline-block;

   padding: 20px;
   margin: 50px;
   border: 5px solid black;
}