/* texto */
h1 {
    font-size: 70px;
    font-weight: 600;
    font-style: italic;
    color: blue;

    line-height: 50px;
    /* Deja un espacio al principio y final del texto */
    text-indent: 50px;

    /* Hacer color de relleno en el texto solamente para chrome y safari */
    -webkit-text-fill-color: crimson;

    -webkit-text-stroke: 5px #000;

    text-align: start;
    text-align: end;
    text-align: center;
    text-align: justify;

    text-transform: uppercase;
    text-transform: lowercase;
    text-transform: capitalize;

}

p::first-line {
    color: red;
}

p::first-letter {
    font-size: 50px;
}