/* Border */

div{
   width: 200px;
   height: 200px;

   /* Configuracion de border */
   border-width: 5px 2px 10px 20px;
   border-style: solid dashed dotted double;

   border-color: blue red violet green;

   border: 5px solid red; /*Shorhand*/

   /* border-top: 10px solid blue;
   border-right: 5px dotted violet;
   border-bottom: 10px solid blue;
   border-left: 15px dashed red; */


   /* Border redondeados */
   border-radius: 10px;

   /* Primer valor: arriba izquierda y abaho derecha
      Segundo valor: arriba derecha y abajo izquierda  */
   border-radius: 20px 50px; 

   /* Arriba izquierda
   arriba derecha y abajo izquierda
   abajo derecha */
   border-radius: 20px 50px 80px;

   border-radius: 20px 50px 80px 40px;

   /* 
   border-top-left-radius: 80px;
   */



}